parameters:
	ignoreErrors:
		-
			message: '#^Constant AUTH_SALT not found\.$#'
			identifier: constant.notFound
			count: 2
			path: includes/Access/SessionManager.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: includes/Access/SessionManager.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 3
			path: includes/CPT/VideoPostType.php

		-
			message: '#^Static property MediaShield\\Core\\Assets\:\:\$needs_shaka is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: includes/Core/Assets.php

		-
			message: '#^Constant DB_NAME not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/Cron/Cleanup.php

		-
			message: '#^Function as_schedule_recurring_action not found\.$#'
			identifier: function.notFound
			count: 2
			path: includes/Cron/Cleanup.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: includes/Player/Renderer.php

		-
			message: '#^Constant DB_NAME not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/Privacy/PrivacyEraser.php

		-
			message: '#^Parameter \#2 \$value of method WP_HTTP_Response\:\:header\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 4
			path: includes/REST/AnalyticsController.php

		-
			message: '#^Parameter \#2 \$value of method WP_HTTP_Response\:\:header\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: includes/REST/TagController.php
